# ============================================
# INVENTAIRE - INSTALLATION PROXMOX VE
# ============================================
# Pour installer Proxmox VE sur 2 VPS standalone

[proxmox_install]
pve1 ansible_host=10.0.0.1 ansible_user=root hostname=pve1.localdomain
pve2 ansible_host=10.0.0.2 ansible_user=root hostname=pve2.localdomain

[proxmox_install:vars]
ansible_ssh_private_key_file=~/.ssh/id-ed25519
ansible_python_interpreter=/usr/bin/python3

# Configuration Proxmox
proxmox_version=bookworm
postfix_config=Local only

# Utilisation :
# ansible-playbook -i inventory/proxmox-install.ini playbooks/install-proxmox.yml
# OU
# make install-proxmox
